:root {
  --active: #3e81f6;
  --inactive: #909092;
  --light-gray: #e9e8ed;
  --gray: #b9b9bb;
  --dark-gray: #505050;
  --white: #ffffff;
  --black: #000000;
  --caution: #f5512a;
  --cautionbg: #fff7f6;
  --bg: #e9e8ed;
  --side-text-color: #944aff;
  --main-text-color: #575a6a;
}
html {
  font-size: 10px;
  background-color: var(--bg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.hide {
  display: none;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14.5rem;
  margin: 0 1rem;
}
.title {
  font-size: 3rem;
}
.title a {
  color: var(--gray);
}

.material-icons-outlined {
  margin-right: 0.2rem;
}

.sign_container {
  display: flex;
}
.sign-in {
  border: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  color: var(--gray);
  background-color: var(--light-gray);
  font-size: 1.6rem;
  cursor: pointer;
}
.sign-in:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.dropdown {
  font-size: 1.6rem;
  position: relative;
}
.dropdown_button {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: var(--gray);
}

#username {
  font-weight: bold;
  color: var(--dark-gray);
}
#sign-out {
  margin-top: 18px;
  cursor: pointer;
  padding: 1rem;
  background-color: var(--dark-gray);
  border-radius: 2rem;
  color: #fff;
  border: none;
}
#sign-out:hover {
  background-color: var(--side-text-color);
}
.dropdown_content {
  width: 100%;
  position: absolute;
  display: none;
}
.dropdown_content button {
  width: 100%;
}
.dropdown:hover .dropdown_content {
  display: block;
}

.float {
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;
}
@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}

@media only all and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
    margin: 0 auto;
  }
}
