html {
  background-color: var(--white);
  /* color: var(--dark-gray); */
}

.signin_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin_inner {
  padding: 7rem;
  border: 1px solid var(--gray);
}

.signin_desc {
  width: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin_desc h1 {
  font-size: 2.4rem;
  margin: 0.8rem;
}

.signin_desc a {
  font-size: 1.4rem;
  color: var(--active);
}

.signin_desc a:hover {
  text-decoration: underline;
}

.signin_form {
  width: 38rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.signin_form button {
  cursor: pointer;
  padding: 18px 0;
  margin-top: 2.4rem;
  font-size: 1.6rem;
  background: #f6f6f6;
  color: var(--dark-gray);
  border: none;
  border-radius: 0.5rem;
}

.signin_form button:hover {
  background: var(--side-text-color);
  color: var(--white);
}

label[for="password"] {
  margin-top: 2.4rem;
}

label,
input {
  font-size: 1.6rem;
}

input {
  margin-top: 0.8rem;
  padding: 1.5rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
}

@media only all and (max-width: 1200px) {
  .signin_inner {
    min-width: 32rem;
    padding: 0 2rem;
    border: none;
  }

  .signin_desc,
  .signin_form {
    width: auto;
  }
}
