ul,
li {
  list-style: none;
}

h3 {
  color: #575a6a;
  font-size: 1.4rem;
}

.matrix_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid red;
}

/* .matrix_item:hover {
  left: 0.6rem;
  bottom: 0.6rem;
  box-shadow: -0.1rem 0.1rem var(--black), -0.2rem 0.2rem var(--black),
    -0.3rem 0.3rem var(--black), -0.4rem 0.4rem var(--black),
    -0.5rem 0.5rem var(--black), -0.6rem 0.6rem var(--black);
} */

.matrix_item {
  position: relative;
  height: 40rem;
  overflow: hidden;
  overflow-y: auto;
  background-color: #ebecf0;
  border-radius: 0.5rem;
  transition: 0.3s all ease-in-out;
}

.item_inner {
  padding: 1rem;
}

.item_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.item_header input {
  width: 100%;
  height: 4.4rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #ebecf0;
  border: none;
  border-radius: 0.5rem;
  color: #747e93;
  font-size: 1.4rem;
  outline: none;
}

.item_header input:focus {
  background-color: #dadbe2;
}

.item_header input:hover {
  background-color: #dadbe2;
}

.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.1rem #747e93;
}

.done-text-container {
  color: #575a6a;
  display: flex;
  flex: 1;
}

.update-delete-container {
  color: #575a6a;
  display: flex;
}

.todo_status {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}
.todo_text {
  flex: 1;
  width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.6rem;
}
