.currentEmail {
  display: none;
}
.currentPassword {
  display: none;
}

.signup_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup_inner {
  padding: 7rem;
  border: 1px solid var(--gray);
}

.signup_desc {
  width: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_desc h1 {
  font-size: 2.4rem;
  margin: 0.8rem;
}

.signup_desc button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  color: var(--active);
}

.signup_desc button:hover {
  text-decoration: underline;
}

.signup_form {
  width: 38rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.signup_form p {
  padding: 0.5rem;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  color: var(--caution);
  background-color: var(--cautionbg);
  border-radius: 0.5rem;
}

.signup_form p span {
  font-size: 1.4rem;
}

.signup_form button {
  cursor: pointer;
  padding: 18px 0;
  margin-top: 2.4rem;
  font-size: 1.6rem;
  background: #f6f6f6;
  color: var(--dark-gray);
  border: none;
  border-radius: 0.5rem;
}

.signup_form button:hover {
  background: var(--side-text-color);
  color: var(--white);
}

label[for="nickname"] {
  margin-top: 2.4rem;
}

label,
input {
  font-size: 1.6rem;
}

input {
  margin-top: 0.8rem;
  padding: 1.5rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
}

@media all and (max-width: 1320px) {
  .signup_inner {
    min-width: 32rem;
    padding: 0 2rem;
    border: none;
  }

  .signup_desc,
  .signup_form {
    width: auto;
  }
}

@media all and (min-width: 1320px) {
  .signup_inner {
    min-width: 39rem;
  }
}
